{% extends "base.html" %}
{% block content %}
<div class="container mx-auto">
  <div class="flex flex-col text-center px-10">
    <div class="mt-4"> 
      <div class="mb-6 card border-2 border-neutral rounded-3xl duration-500">
        <div class="card-body">                
          <h1 class="text-2xl font-bold">Email Verification Login</h1>
          <div class="mt-6 mb-2"> 

            <form 
              method="post" 
              hx-post="{% url 'sign_in' %}" 
              hx-target="#result">
              {% csrf_token %}
              <div class="flex my-4 justify-center">
                <input type="text" name="email" placeholder="Email" required class="input input-bordered w-1/2 max-w-xs">
              </div>
              <div class="mt-8 mb-4">
                <button id="login-btn" type="submit" class="rounded hover:scale-105 btn btn-primary btn-xs sm:btn-sm md:btn-md lg:btn-lg">
                  <span id="login-text">Login</span>
                  <span id="loading-text" class="loading loading-dots loading-lg hidden"></span>
                </button>                            
              </div>
              <div id="result"></div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Convert this function into hyperscript on the button -->
<script>
document.body.addEventListener('htmx:beforeRequest', function(event) {
  if (event.target === document.querySelector('form')) {
    document.getElementById('login-text').classList.add('hidden');
    document.getElementById('loading-text').classList.remove('hidden');
  }
});

document.body.addEventListener('htmx:afterRequest', function(event) {
  if (event.target === document.querySelector('form')) {
    document.getElementById('loading-text').classList.add('hidden');
    document.getElementById('login-btn').classList.add('hidden');
  }
});
</script>

{% endblock content %}

