{% load static %}

<!-- Sidebar -->
<aside id="sidebar" class="z-10 hidden lg:block bg-primary w-20 py-4 px-2 flex-shrink-0 sticky top-0 h-screen">
  <a href="">
    <div class="text-lg font-bold hover:text-white">EZFin</div>
  </a>
  <nav class="mt-10">
    <ul class="text-center">
      <!-- Dashboard -->
      <li class="mb-6">
        <a href="{% url 'dashboard' %}" class="block py-2.5 px-4 rounded">         
          <img src="{% static 'svg/dashboard_icon.svg' %}" alt="Your image description">
        </a>
      </li>
      <!-- Upload Doc -->
      <li class="mb-6">
        <a href="{% url 'upload_doc' %}" class="block py-2.5 px-4 rounded">         
          <img src="{% static 'svg/upload_icon.svg' %}" alt="Your image description">
        </a>
      </li>
      <!-- My Docs -->
      <li class="mb-6">
        <a href="{% url 'my_docs' %}" class="block py-2.5 px-4 rounded">         
          <img src="{% static 'svg/document_icon.svg' %}" alt="Your image description">
        </a>
      </li>
      <li class="mb-6">
        <a href="" class="block py-2.5 px-4 rounded">         
          <img src="{% static 'svg/tag_icon.svg' %}" alt="">
        </a>
      </li>
    </ul>
  </nav>
</aside>
