{% load static %}
<div class="h-8 flex bg-primary justify-end items-center">
  <a href="">
    <button class="flex justify-center text-base-100 bg-secondary border-2 border-secondary rounded-lg w-12 hover:bg-accent hover:text-white">
      Pro
    </button>
  </a>
  <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
      <div class="w-6 rounded-full">
        <img
          alt="Tailwind CSS Navbar component"
          src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
      </div>
    </div>
    <ul
      tabindex="0"
      class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
      <li>
        <a>Profile</a>
      </li>
      <!-- Logout -->
      <li class="justify-center rounded-lg hover:bg-secondary">
        <a href="{% url 'sign_out' %}" class=" rounded">
          Logout
          <img src="{% static 'svg/logout_icon.svg' %}" alt="Logout" class="w-6 h-6">
        </a>
      </li>
    </ul>
  </div>
</div>
