{% load static %}
{% load humanize %}
<tr id="transaction_row_{{ transaction.id}}">
  <td>
    {% if transaction.saved %}
    <input 
      type="checkbox" 
      class="checkbox checkbox-xs" 
      disabled />
    {% else%}
    <input 
      type="checkbox" 
      class="checkbox checkbox-xs"
      name="transaction_ids"
      value="{{ transaction.id }}"
      _="
      on load 
      set my.checked to false
      end 
      on change 
      call checkCheckboxes()
      end
      "/>
    {% endif %}
  </td>
  <td>{{ document.bank.name }}</td>
  <td>{{ document.transaction_type.name }}</td>
  <td>{{ transaction.transaction_date }}</td>
  <td>{{ transaction.description }}</td>
  <td>{{ transaction.amount|intcomma }}</td>

  {% if transaction.expense_category.name %}
  <td>
    {{ transaction.expense_category.name }}
    {% if created %}
    <div 
      class="text-xs absolute z-50 alert alert-success"
      _="
      on load
        add .animate-bounce to me then
        wait for 3s then
        remove me
      end
      "
    >
      {{ created_message }}
    </div>
    {% endif %}
  </td>
  <td>
    <div
      class="btn btn-ghost"
      hx-post="{% url 'edit_category' %}"
      hx-target="#transaction_row_{{ transaction.id }}"
      hx-swap="outerHTML"
      hx-trigger="click"
      hx-vals='{
      "transaction_id":"{{ transaction.id }}",
      "counter_loop":"{{ forloop.counter }}"
      }'>
      <img src="{% static 'svg/edit_icon.svg' %}" class="min-w-[25px] min-h-[25px]">
    </div>
  </td>
  {% else %}
  <td>
    <div class="data_inputs_{{ transaction.id }}">
      <input 
        type="search" 
        id="transaction_category_{{ transaction.id }}"
        name="transaction_category"
        placeholder="Type here"
        class="input input-bordered input-sm w-full max-w-xs"
        hx-post="{% url 'search_category' %}"
        hx-trigger="input changed delay:500ms, search"
        hx-target="#search_result_{{ transaction.id }}"
        hx-swap="innerHTML"
        hx-vals='{"transaction_id" : "{{ transaction.id }}"}'
        _="
        on click
          set my @placeholder to ''
        end
        on keyup
          remove .hidden from #search_result_{{ transaction.id }}
        end
        on keyup[key is 'Enter']
          trigger click on the next .btn
        end
        on keyup[key is 'Escape']
          add .hidden to #search_result_{{ transaction.id }} then
          set my value to '{{ transaction.expense_category.name }}' then
          trigger click on the next .btn
        end
        "
      />
      <div 
        class="hidden absolute z-50 overflow-auto max-h-32 rounded-xl border-2 border-primary" 
        id="search_result_{{ transaction.id }}"
      >
        <!-- Response from HTMX active search component -->
      </div>
    </div>
  </td>
  <td>
    <div
      class="btn btn-ghost"
      hx-post="{% url 'save_category' %}"
      hx-target="#transaction_row_{{ transaction.id }}"
      hx-swap="outerHTML"
      hx-trigger="click"
      hx-include=".data_inputs_{{ transaction.id }} input"
      hx-vals='{"transaction_id" : "{{ transaction.id }}"}'
    >
      <img src="{% static 'svg/save_icon.svg' %}" class="min-w-[25px] min-h-[25px]">
    </div>
  </td>
  {% endif %}

</tr>
