{% load static %}
{% load humanize %}
<td>
  {% if transaction.saved %}
  <input 
    type="checkbox" 
    class="checkbox checkbox-xs" 
    disabled />
  {% else%}
  <input 
    type="checkbox" 
    class="checkbox checkbox-xs"
    name="transaction_ids"
    value="{{ transaction.id }}"
    _="
    on load 
    set my.checked to false
    end 
    "/>
  {% endif %}
</td>
<td>{{ document.bank.name }}</td>
<td>{{ document.transaction_type.name }}</td>
<td>{{ transaction.transaction_date }}</td>
<td>{{ transaction.description }}</td>
<td>{{ transaction.amount|intcomma }}</td>

{% if transaction.expense_category.name %}
<td>{{ transaction.expense_category.name }}</td>
<!--TODO: Add HTMX function to edit category -->
<td>
  <button class="">
    <img src="{% static 'svg/edit_icon.svg' %}" alt="">
  </button>
</td>
{% else %}
<td>
  <div class="flex items-center">

    <div class="data_inputs_{{ transaction.id }}">
      <input 
        type="text" 
        name="transaction_category"
        placeholder="Type here" 
        class="input input-bordered w-full max-w-xs"/>
      <input 
        type="hidden" 
        name="transaction_id" 
        value="{{ transaction.id }}"/>
      <input 
        type="hidden" 
        name="counter_loop" 
        value="{{ forloop.counter }}"/>
    </div>

    <div
      hx-post="{% url 'save_category' %}"
      hx-target="#transaction_row_{{ transaction.id }}"
      hx-swap="innerHTML"
      hx-trigger="click"
      hx-include=".data_inputs_{{ transaction.id }} input">
      <img src="{% static 'svg/save_icon.svg' %}">
    </div>
  </div>
</td>
{% endif %}

<td>
  {% if transaction.saved %}
  <span class="text-success">Saved</span>
  {% else %}
  <span class="text-error">Not Saved</span>
</td>
{% endif %}
