{% load static tailwind_tags %}
{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <script src="{% static 'js/dist/hyperscript.min.js' %}"></script>
    <script src="{% static 'js/dist/htmx.min.js' %}" defer></script> 
    {% block css %}{% endblock css %}
    {% block js %}{% endblock js %}
  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="flex min-h-screen">
      <!-- -- Sidebar -- -->
      {% include "dashboard/partials/_sidebar.html" %}

      <div class="flex flex-col w-full">
        <!-- Top Bar -->
        {% include "dashboard/partials/_topbar.html" %}

        <main class="flex-1 p-8 overflow-y-auto">
          {% block main %}

          {% endblock main%}
        </main>

      </div>

    </div>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
