{% load static tailwind_tags %}
{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en">
   <head>
       <title></title>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">

       {% tailwind_css %}
       <!--  ///_hyperscript library https://unpkg.com/hyperscript.org@0.9.12/dist/_hyperscript.min.js -->
       <script src="{% static 'js/dist/hyperscript.min.js' %}"></script>
       <!-- htmx library https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js -->
       <script src="{% static 'js/dist/htmx.min.js' %}" defer></script> 
   </head> 

    <body class="font-body" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
      {% block main %}{% endblock main %}
      {% block content %} {% endblock content %}
    </body>
</html>
