{% load static tailwind_tags %}
{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <script src="{% static 'js/dist/hyperscript.min.js' %}"></script>
    <script src="{% static 'js/dist/htmx.min.js' %}" defer></script> 
    {% block extrahead %}
    {% endblock extrahead %}
  </head> 

  <body class="min-h-screen flex flex-col" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <header class="navbar sticky top-0 z-50">
      {% include 'landing_header.html' %}
    </header>

    {% block main %}{% endblock main %}
    {% block content %} {% endblock content %}
    <footer class="footer footer-center p-4 text-base-content">
      {% include 'landing_footer.html' %}
    </footer>
  </body>


</html>
