{% extends 'landing_base.html' %}
{% load static %}
{% block content %}
  <main class="flex-grow">
    <section id="introduction" class="min-h-screen flex items-center  pt-16" 
      _="on intersection(intersecting) having threshold 0.2
      add .animate-fade-in to .content
      add .animate-slide-in to .mascot">
      <div class="container mx-auto px-4 flex flex-col md:flex-row items-center">
        <div class="content w-full md:w-1/2 opacity-0 transition-all duration-1000">
          <h1 class="text-5xl font-bold mb-6">Convert PDF Bank Statements to CSV</h1>
          <p class="text-xl mb-8">Does your bank not offer an option to download your statements in Excel or CSV? </p>
          <p class="text-xl mb-8">BahtBytes extracts data from your credit card and bank statements, returning your data in CSV.</p>
          {% if user.is_authenticated and user.has_verified_email %}
            <a href="{% url 'upload_doc' %}"><button class="btn btn-primary">Try Now!</button></a>
          {% else %}
            <a href="#sign-in"><button class="btn btn-primary">Try Now!</button></a>
          {% endif %}
        </div>
        <div class="mascot w-full md:w-1/2 mt-8 md:mt-0 transform translate-x-full transition-all duration-1000">
          <img src="{% static 'image/hero-image.jpg' %}" alt="" class="mx-auto rounded-xl border-4 border-primary shadow-lg shadow-white">
        </div>
      </div>
    </section>

    <section id="how-it-works" class="py-16  pt-24"
      _="on intersection(intersecting) having threshold 0.2
      add .animate-fade-in to .content
      add .animate-slide-in to .mascot">
      <div class="container mx-auto px-4 flex flex-col md:flex-row-reverse items-center">
        <div class="content w-full md:w-1/2 opacity-0 transition-all duration-1000">
          <h2 class="text-3xl font-bold mb-6">How Does It Work?</h2>
          <ol class="list-decimal list-inside space-y-4">
            <li>Upload your PDF Statements.</li>
            <li>We extract and return the relevent data.</li>
            <li>Use AI to categorize each transactions.</li>
            <li>Copy Paste the data into Excel or Download as a CSV file</li>
          </ol>
          <button class="mt-8 btn btn-primary">Try Now!</button>
        </div>
        <div class="">
          <img src="{% static 'svg/document_scan.svg'%}" alt="How It Works Mascot" class="mx-auto">
        </div>
      </div>
    </section>

    <section id="pricing" class="py-16  pt-24"
      _="on intersection(intersecting) having threshold 0.2
      add .animate-fade-in to .pricing-cards
      add .animate-bounce to .mascot">
      <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-8">Pricing</h2>
        <div class="pricing-cards flex flex-col md:flex-row justify-center items-center gap-8 opacity-0 transition-all duration-1000">
          <div class="card w-96 bg-base-300 shadow-xl">
            <div class="card-body">
              <h3 class="card-title">FREE</h3>
              <p>Extract data from your statements and download as a CSV file.</p>
              <ul class="list-disc list-inside my-4">
                <li>1 document upload</li>
                <li>1 AI Auto Categorization</li>
              </ul>
              <div class="card-actions justify-end">
                {% if user.is_authenticated and user.has_verified_email %}
                  <a href="{% url 'upload_doc' %}"><button class="btn btn-primary">Try Now!</button></a>
                {% else %}
                  <a href="{% url 'sign_in' %}"><button class="btn btn-primary">Try Now!</button></a>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="card w-96 bg-primary text-primary-content shadow-xl">
            <div class="card-body">
              <h3 class="card-title">BahtBytes Pro</h3>
              <p>Free + AI Auto-Categorization</p>
              <ul class="list-disc list-inside my-4">
                <li>100 uploads per month</li>
                <li>Access to auto-categorization</li>
                <li>Priority support</li>
              </ul>
              <div class="card-actions justify-end">
                <button class="btn">Choose Pro</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'accounts/sign_in.html' %}

    <section id="faq" class="py-16  pt-24">
       <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-8">FAQ</h2> 
        <div class="join join-vertical w-full">
          <div 
            class="collapse collapse-arrow join-item border-base-300 border" 
            _="
            on click 
              toggle .collapse-open on me
            end
            ">
            <div class="collapse-title text-xl font-medium">Click to open this one and close others</div>
            <div class="collapse-content">
              <p>hello</p>
            </div>
          </div>
        </div>
      </div>
    </section>


  </main>

  <style>
    html {
      scroll-behavior: smooth;
    }
    .animate-fade-in {
      animation: fadeIn 1s ease-out forwards;
    }
    .animate-slide-in {
      animation: slideIn 1s ease-out forwards;
    }
    .animate-bounce {
      animation: bounce 2s infinite;
    }
    @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
    }
    @keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
    }
    @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    }
  </style>
  <!-- footer //end -->

{% endblock content %}
