{% extends 'landing_base.html' %}
{% load static %}
{% block extrahead %}

{% endblock extrahead %}

{% block content %}


  <main class="flex-grow">
    <section
      id="introduction"
      class="min-h-screen flex items-center pt-16 opacity-0 duration-500"
      _="
         on load
         transition opacity to 1 then
         end
        "
    >
      <div class="container mx-auto px-4 flex flex-col md:flex-row items-center">
        <div class="content w-full md:w-1/2">
          <h1 class="text-5xl font-bold mb-6">Convert PDF Bank Statements to CSV</h1>
          <p class="text-xl mb-8">BahtBytes extracts data from your credit card and bank statements, returning you a CSV file version.</p>
          <p class="text-xl mb-8">No more tidious copy paste or manual data entry inputs</p>
          {% if user.is_authenticated and user.has_verified_email %}
            <a href="{% url 'upload_doc' %}"><button class="btn btn-primary">Try Now!</button></a>
          {% else %}
            <a href="#sign-in"><button class="btn btn-primary">Try Now!</button></a>
          {% endif %}
        </div>
        <div
          class="mascot w-full md:w-1/2 mt-8 md:mt-0"
          _="
             on mouseenter
             add .hidden to #hero-image then
             remove .hidden from #converted_csv then
             add .animate-fade-in to #converted_csv then
             end
             on mouseleave
             add .hidden to #converted_csv then
             remove .hidden from #hero-image then
             add .animate-fade-in to #hero-image
            "
        >
          <img
            id="hero-image"
            src="{% static 'image/hero-image.jpg' %}"
            alt="examples of bank statements"
            class="mx-auto rounded-xl border-2 border-primary shadow-lg shadow-black"
          >
          <img
            id="converted_csv"
            src="{% static 'image/hero-image-2.png' %}"
            alt="example of converted csv"
            class="hidden mx-auto rounded-xl border-2 border-primary shadow-lg shadow-black"
          >
        </div>
      </div>
    </section>

    <section
      id="how-it-works"
      class="py-16 pt-24 opacity-0"
      _="on intersection(intersecting) having threshold 0.5
         if intersecting transition opacity to 1 over 0.5s
         end"
    >
      <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-12">How Does It Work?</h2>

        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
          <!-- Step 1 -->
          <div class="card bg-base-100 shadow-xl transition-transform duration-300 ease-in-out"
               _="on mouseenter add .scale-105 to me
                  on mouseleave remove .scale-105 from me">
            <figure class="px-10 pt-10">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
              </svg>
            </figure>
            <div class="card-body items-center text-center">
              <h3 class="card-title">Step 1: Upload Statements</h3>
              <p>Upload your PDF Bank Statements (Credit Card or Bank Statements)</p>
            </div>
          </div>

          <!-- Step 2 -->
          <div class="card bg-base-100 shadow-xl transition-transform duration-300 ease-in-out"
               _="on mouseenter add .scale-105 to me
                  on mouseleave remove .scale-105 from me">
            <figure class="px-10 pt-10">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
              </svg>
            </figure>
            <div class="card-body items-center text-center">
              <h3 class="card-title">Step 2: Extract Transactions</h3>
              <p>We extract the content and return the transactions from your statements</p>
            </div>
          </div>

          <!-- Step 3 -->
          <div class="card bg-base-100 shadow-xl transition-transform duration-300 ease-in-out"
               _="on mouseenter add .scale-105 to me
                  on mouseleave remove .scale-105 from me">
            <figure class="px-10 pt-10">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
              </svg>
            </figure>
            <div class="card-body items-center text-center">
              <h3 class="card-title">Step 3: Categorize Transactions</h3>
              <p>Categorize your transactions manually or use our AI to auto-categorize</p>
            </div>
          </div>

          <!-- Step 4 -->
          <div class="card bg-base-100 shadow-xl transition-transform duration-300 ease-in-out"
               _="on mouseenter add .scale-105 to me
                  on mouseleave remove .scale-105 from me">
            <figure class="px-10 pt-10">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
              </svg>
            </figure>
            <div class="card-body items-center text-center">
              <h3 class="card-title">Step 4: Download or Copy</h3>
              <p>Download the CSV file or copy and paste into your spreadsheet to manage your finances</p>
            </div>
          </div>
        </div>

        <div class="mt-12 text-center">
          {% if user.is_authenticated and user.has_verified_email %}
            <a href="{% url 'upload_doc' %}" class="btn btn-primary">Try Now!</a>
          {% else %}
            <a href="#sign-in" class="btn btn-primary">Try Now!</a>
          {% endif %}
        </div>
      </div>
    </section>

    <section
      id="pricing"
      class="py-16 pt-24 opacity-0"
      _="
         on intersection(intersecting) having threshold 0.5
         if intersecting transition opacity to 1
         end
         end
        "
    >
      <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-8">Pricing</h2>
        <div class="pricing-cards flex flex-col md:flex-row justify-center items-center gap-8">
          <div class="card w-96 bg-base-300 shadow-xl">
            <div class="card-body">
              <h3 class="card-title">FREE TRIAL</h3>
              <p>Extract data from your statements and download as a CSV file.</p>
              <ul class="list-disc list-inside my-4">
                <li>1 document upload</li>
                <li>AI Auto categorization trial</li>
              </ul>
              <div class="card-actions justify-end">
                {% if user.is_authenticated and user.has_verified_email %}
                  <a href="{% url 'upload_doc' %}"><button class="btn btn-primary">Try Now!</button></a>
                {% else %}
                  <a href="#sign_in"><button class="btn btn-primary">Try Now!</button></a>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="card w-96 bg-primary text-primary-content shadow-xl">
            <div class="card-body">
              <h3 class="card-title">PRO</h3>
              <div class="absolute right-4 top-4 badge badge-secondary">POPULAR CHOICE</div>
              <div class="bg-base-100 text-primary w-full mt-4 text-center border-2 rounded-xl">
                <p class="p-1 font-bold">Uploads per month</p>
                <p class="p-1 font-bold">100<span class="font-normal text-sm"> statements</span></p>
              </div>
              <ul class="list-disc list-inside my-4">
                <li>100 uploads per month</li>
                <li>Access to auto-categorization tool</li>
                <li>Document storage</li>
                <li>Early access to new features</li>
                <li>Priority support</li>
              </ul>
              <div class="mx-auto justify-center">
                <p class="text-3xl font-bold mt-4">1,249.-<span class="text-sm font-normal">/Month</span></p>
              </div>
              <div class="card-actions justify-end">
                <button class="btn btn-secondary">Choose Pro</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      id="faq"
      class="py-16 pt-24 opacity-0"
      _="
         on intersection(intersecting) having threshold 0.5
         if intersecting
         transition opacity to 1
         end
         end
        "
    >
      <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-8">FAQ</h2>
        <div class="join join-vertical w-full">
          <div
            class="collapse collapse-arrow join-item border-base-300 border rounded-xl"
            _="
               on click
               toggle .collapse-open on me
               end
              ">
            <div class="collapse-title text-xl font-medium">Can we upload other formats other than PDFs?</div>
            <div class="text-primary collapse-content">
              <p>JPEGs and PNGs are acceptable. However, please note PDF statements issued by the banks are best.</p>
            </div>
          </div>
        </div>
        <div class="join join-vertical w-full">
          <div
            class="collapse collapse-arrow join-item border-base-300 border rounded-xl"
            _="
               on click
               toggle .collapse-open on me
               end
              ">
            <div class="collapse-title text-xl font-medium">After unsubscribing within the billing month, will I still have access to the platform?</div>
            <div class="text-primary collapse-content">
              <p>Yes subscriptions are based on a monthly bill cycle.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div
      class="mt-20 opacity-0"
      _="
         on intersection(intersecting) having threshold 0.5
         if intersecting
         transition opacity to 1
         end
         end
        "
    >
      {% include 'accounts/sign_in.html' %}

    </div>

  </main>

  <style>
    html {
      scroll-behavior: smooth;
    }
    .animate-fade-in {
      animation: fadeIn 1s ease-out forwards;
    }
    .animate-slide-in {
      animation: slideIn 1s ease-out forwards;
    }

    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }
    @keyframes slideIn {
      from { transform: translateX(100%); }
      to { transform: translateX(0); }
    }
    @keyframes bounce {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-20px); }
    }
  </style>
  <!-- footer //end -->

{% endblock content %}
